<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Italianno&display=swap">
    <title>Şehirler</title>
</head>

<body>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 text-center city-name" style="font-family: 'Italianno', cursive;">
                <h1>{{ city[1] }}</h1>
            </div>
            <div class="col-md-6 text-center">
                <img id="cityImage" src="{{ city[7] }}" alt="Şehir Resmi" class="img-fluid hotel-image">
            </div>

            <hr>

        </div>
        <div id="Description" class="row">
            <div class="col-md-12 text-center">
                <div class="hotel-info" >
                    <h4>Description </h4>
                    <p>{{ city[2] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="hotel-info">
                    <h4>Cultural Places</h4>
                    <p>{{city[3]}}</p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="hotel-info">
                    <h4>Bars</h4>
                    <p>{{ city[6] }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="hotel-info">
                    <h4>Touristic Places</h4>
                    <p>{{ city[4] }}</p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="hotel-info">
                    <h4>Restaurants</h4>
                    <p>{{city[5]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Harita</h4>
                    <div id="map" style="height: 400px; width: 1100px;">
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <style>
        #cityImage {
            max-width: 175%;
            height: 500px;
            border-radius: 15px; 
            margin-left: 35%;
        }
    </style>
    <script>
        function initMap() {
     var hotelLocation = { lat: 36.8616, lng: 30.6370 };
      var map = new google.maps.Map(document.getElementById('map'), {
        center: hotelLocation,
        zoom: 14,
      });
      var marker = new google.maps.Marker({
        position: hotelLocation,
        map: map,
        title: '{{ city[1] }}', 
      });
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbhs-qDzm2EKZ3HLuHHFCo8ovA5yvcgmY&libraries=places&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
